.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;


  background-image: url('https://lfi-online.de/ceemes/webfile/show/7051524/5F04B58B-B24B-446A-9003-921D6411A282.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}